.PokemonFilter {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

.PokemonFilter h4 {
  display: inline;
}

.PokemonFilter select {
  font-family: 'Permanent Marker', cursive;
  border-radius: 5px;
}
