.Navbar {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.Logo {
  text-decoration: none;
  color: #000;
  font-size: 56px;
  font-family: 'Permanent Marker', cursive;
}

.Logo:hover {
  text-decoration: none;
  color: #000;
}
